body {
font-family: Arial, sans-serif;
margin: 20px;
background-color: #f9f9f9;
text-align: center;
}
button {
margin: 10px auto;
background-color: green;
color: white;
border: none;
padding: 10px 20px;
width: 80%;
text-decoration: none;
border-radius: 20px;
cursor: pointer;
font-size: larger;
box-shadow: 0 0px 10px grey;
font-weight: bold;
}
h1 {
    color: black;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: flex-end;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

table {
width: 80%;
margin: 0 auto;
border-collapse: collapse;
background-color: rgb(233, 250, 255);
border-radius: 20px;
overflow: hidden;
border: 1px solid #a9a9a9;
box-shadow: 0 0px 10px grey;
}
th, td {
border: 2px solid #8dccff;
padding: 10px;
text-align: center;
}
th {
background-color: #4CAF50;
color: white;
}
tr:nth-child(even) {
background-color: rgb(205, 236, 255);
}
tr:hover {
background-color: #8dccff;
transition: background-color 0.3s ease;
}
button:hover {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

#idioma {
    width: 30%;
}
